body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60vw;
}
body,
#a-input,
#a-display,
#b-input,
#b-display,
#c-input,
#c-display,
.x-display {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
#a-input,
#a-display {
  color: red;
}
#b-input,
#b-display {
  color: green;
}
#c-input,
#c-display {
  color: blue;
}
.x-display {
  color: black;
}
#result-display {
  color: gray;
}
